@CHARSET "ISO-8859-1";

toto\:.bouton {
	text-align: center;
}
#toto\:input{
	font-size:1.5em;
	font-weight: bold;
	color : red;
}

#formulaireRecherche\:kana {
	font-size:1.5em;
	font-weight: bold;
	color : red;
}

html{
	background-color: grey;
}

.ui-datagrid-column{
	text-align: center;
}

.someCustomClass .ui-datagrid-column {
	width: 16.66%;
}

.height8 {
    height: 50px;
}
	